<link type="text/css" rel="stylesheet" href="../static/styles/menu.css" />
<div class="nav-bar">
  <!-- Home -->
  <a class="nav-content" href="/">
    <img class="nav-item" src="./static/img/icons/home.png" />
  </a>

  <!-- Experience -->
  <a class="nav-content" href="/experience">
    <img class="nav-item" src="./static/img/icons/experience.png" />
  </a>

  <!-- Hobbies -->
  <a class="nav-content" href="/hobby">
    <img class="nav-item" src="./static/img/icons/hobby.png" />
  </a>

  <!-- Map -->
  <a class="nav-content" href="/map">
    <img class="nav-item" src="./static/img/icons/map.png" />
  </a>
</div>
